<h3>Update Product Details</h3>
<%= form_with model: @product do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :quantity, placeholder: "quantity" %>
  <%= form.text_field :price, placeholder: "price" %>

  <%= form.submit %>
<% end %>
